.contaner {
    width: 734px;
    display: block;
    margin: 0 auto;
    height: 1280px;
    padding: 10px 15px;
    border: 1px solid #dde2ec;
    border-radius: 10px;
    font-family: "Avenir Next W01","Lato",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.header {
    border-bottom: 1px solid #000;
    border-color: #dde2ec;
}

.header p {
    font-size: 16px;
}

.header a {
    text-decoration: none;
}

.content1 {
    margin-top: 30px;
}

.bottom {
    margin-top: 20px;
}

.text1 {
    display: block;
    width: 100%;
    padding: 10px 0px 10px;
    border-radius: 5px;
    border: 1px solid #dde2ec;
}

.text2 {
    display: block;
    width: 350px;
    padding: 10px 0px 10px;
    border-radius: 5px;
    margin-top: 10px; 
    border: 1px solid #dde2ec; 
}

.form-pass, .form-name{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.form-pass-left, .form-pass-right, .form-name-left, .form-name-left{
    width: 48%;
}

.select {
    display: block;
    width: 100%;
    padding: 10px 0px 10px;
    border-radius: 5px;
    border-color: #dde2ec;
    margin-bottom: 40px;
}

.text3 {
    font-size: 20px;
    color:#047bf8;
    margin: 50px 0px;
}

.example {
    display: flex;
    flex-direction: column;
    margin: 25px 0px 40px;
}

.tex {
    border-radius: 5px;
    border-color:#dde2ec;
}

.check {
    border-bottom: 1px solid #dde2ec ;
    padding-bottom: 30px;
}

.but {
    padding-top: 20px;
}

.sub {
    background-color: #047bf8;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #fff;
}


